body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 1);
    font-size: 6vw;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#mainPage {
    padding-top: 10%;
    width: 100%;
    margin: auto;
}

#mainPage * {
    margin: 20px auto;
    font-size: 6vw;
}

#mainPage h2 {
    font-size: 8vw;
}

#sourceURL {
    display: none;
}

#pMenu {
    font-size: 3vw;
    width: 100%
}

#points {
    width: 90%;
    margin: 0 5%;
}

#good, #every, #perc {
    float: left;
    padding: 1%;
    width: 31%;
}

@media screen and (min-width: 1024px){
  }