body {
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-image: url('https://i.chzbgr.com/full/7130227200/hFA7A1E90/all-pokemon-gens-1-5');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

#firstTime {
    display: block;
    margin: 20% auto;
    text-align: center;
    width: 144px;
}

#afterStart {
    padding: 1%;
    width: 95%;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    background-color: rgba(253, 255, 252, 0.95);
    text-align: center;

}


/*
border-radius: 12px;
.lmenu {
    list-style-type: none;
    float: left;
}
}*/